#header-nav {
    background-color: grey;
}

.navbar-brand h1 {
    font-family: Helvetica;
    color: black;
    font-weight: bold;
    margin-top: -10px;
    margin-bottom: 0;
}

    .navbar-brand h1:hover, .navbar-brand h1:focus {
        text-decoration: none;
    }

.pageheading {
    font-family: Helvetica;
    color: black;
    font-weight: bold;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid;
}

#nav-list a {
    color: gray;
    text-align: center;
    background: white;
    border: 1px solid black;
}

    #nav-list a span {
        font-size: 1.5em;
    }

section {
    background-color: grey;
    border: 1px solid black;
    height: 1000px;
    margin: 20px;
}

    section > div {
        font-size: 125%;
        font-family: Helvetica;
        text-align: center;
    }

.sectionTitle {
    font-size: 150%;
    margin-bottom: 10px;
}
